<form action='/projects/<%=@project.id%>/edit' method="post">

<input type="hidden" id="hidden" name="_method" value="patch">

Title:<input type='text' name='project[title]' value='<%=@project.title%>' id='title'><br>
 
 Description:<input type='text' name='project[description]' value='<%=@project.description%>' id='description'><br>
 
 Type:<input type='text' name='project[project_type]' value='<%=@project.project_type%>' id='project_type'><br>
 
 General Contractor:<input type='text' name='project[general_contractor]' value='<%=@project.general_contractor%>' id='general_contractor' ><br>
 
 
 
 
 
 
 
 <input type='submit' value='Edit Project'>
</form>